In [1]:
#Exercise 1 code

print("Hello, Python!")

Hello, Python!

In [3]:
#Exercise 2 code

a = 10
b = 12

print("Sum:", a + b)
print("Difference:", a - b)
print("Product:", a * b)
print("Quotient:", a / b)

Sum: 22
Difference: -2
Product: 120
Quotient: 0.8333333333333334

In [7]:
#Exercise 3 code

name = "Daniel"
print(f"Hello, {name}!")

Hello, Daniel!

In [9]:
#Exercise 4 code

universities = ["Esade", "Bocconi", "HEC Paris", "LSE", "LBS"]

print("List of universities:", universities)

print("First university:", universities[0])

print("Last university:", universities[-1])

List of universities: ['Esade', 'Bocconi', 'HEC Paris', 'LSE', 'LBS']
First university: Esade
Last university: LBS

In [11]:
#Exercise 5 code

student = {
    "name": "Daniel Pace",
    "age": 21,
    "grade": "4.0"
}

for key, value in student.items():
    print(f"{key}: {value}")

name: Daniel Pace
age: 21
grade: 4.0

In [15]:
#Exercise 6 code

coordinates = (20, 15)

print("Coordinates:", coordinates)

print("X coordinate:", coordinates[0])
print("Y coordinate:", coordinates[1])

Coordinates: (20, 15)
X coordinate: 20
Y coordinate: 15

In [19]:
#Exercise 7 code

colors = {"red", "green", "blue"}

colors.add("yellow")
colors.add("red")

print("Colors set after adding a duplicate and a new color:", colors)

colors.remove("green")

print("Colors set after removing 'green':", colors)

light_colors = {"orange", "pink", "yellow"}

merged_colors = colors.union(light_colors)

print("Merged colors and light_colors set:", merged_colors)

Colors set after adding a duplicate and a new color: {'yellow', 'green', 'blue', 'red'}
Colors set after removing 'green': {'yellow', 'blue', 'red'}
Merged colors and light_colors set: {'yellow', 'pink', 'orange', 'blue', 'red'}

In [27]:
#Exercise 8 code

number = float(input("Enter a number: "))

if number > 0:
    print("The number is positive.")
elif number < 0:
    print("The number is negative.")
else:
    print("The number is zero.")

Enter a number:  46

The number is positive.

In [29]:
#Exercise 9 code

numbers = [1, 2, 3, 4, 5]

for number in numbers:
    print(number)

1
2
3
4
5

In [31]:
# Exercise 10 code

number = 1

while number <= 5:
    print(number)
    number += 1

1
2
3
4
5

In [33]:
#Exercise 11 code

grade = input("Enter a grade (A, B, C, D, F): ").upper()

match grade:
    case "A":
        print("Excellent!")
    case "B":
        print("Good job!")
    case "C":
        print("Fair.")
    case "D":
        print("Needs improvement.")
    case "F":
        print("Failing.")
    case _:
        print("Invalid grade entered.")

Enter a grade (A, B, C, D, F):  B

Good job!

In [35]:
#Exercise 12 code

def greet(name):
    print(f"Hello, {name}!")

greet("Daniel")

Hello, Daniel!

In [37]:
#Exercise 13 code

def square(number):
    return number * number

print(square(2))
print(square(5))
print(square(10))

4
25
100

In [39]:
#Exercise 14 code

def multiply(a, b=1):
    return a * b

print(multiply(5, 3))

print(multiply(5))

15
5

In [41]:
#Exercise 15 code

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

squares = [number ** 2 for number in numbers]

print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [43]:
#Exercise 16 code

students_grades = {
    "James": [85, 90, 88],
    "Danny": [78, 82, 79],
    "Jim": [92, 95, 91]
}

def print_average_grades(grades_dict):
    for student, grades in grades_dict.items():
        average = sum(grades) / len(grades)
        print(f"{student}'s average grade: {average:.2f}")

print_average_grades(students_grades)

Alice's average grade: 87.67
Bob's average grade: 79.67
Charlie's average grade: 92.67

In [2]:
#Exercise 17 code

def calculate(num1, num2, operator):
    if operator == "+":
        return num1 + num2
    elif operator == "-":
        return num1 - num2
    elif operator == "*":
        return num1 * num2
    elif operator == "/":
        if num2 != 0:
            return num1 / num2
        else:
            return "Error: Division by zero"
    else:
        return "Error: Invalid operator"

num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))
operator = input("Enter the operator (+, -, *, /): ")

result = calculate(num1, num2, operator)
print("Result:", result)

Enter the first number:  7
Enter the second number:  6
Enter the operator (+, -, *, /):  +

Result: 13.0